@page "/"
@inject AuthenticationStateProvider AuthProvider

<h1>Hello, @_userName!</h1>

Welcome to your new app.

@code
{
    private string _userName = string.Empty;

    #region Overrides of ComponentBase

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();

        _userName = authState.User.FindFirst("nickname").Value;
    }

    #endregion
}
